
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;900&family=Roboto:wght@300;400;700;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}

h1,h2,h3,p,ul {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style: none;
    padding-left: 0;
}

button {
    display:flex;
    justify-content: center;
    align-items: center;
    border: 0;
    color: inherit;
    cursor: pointer;
}



input {
    outline: 0;
    color: inherit;
    font-family: inherit;
}